
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 5% 10%;
    --foreground: 0 0% 98%;

    --card: 240 5% 12%;
    --card-foreground: 0 0% 98%;

    --popover: 240 5% 12%;
    --popover-foreground: 0 0% 98%;

    --primary: 265 83% 74%;
    --primary-foreground: 0 0% 100%;

    --secondary: 278 75% 84%;
    --secondary-foreground: 0 0% 12%;

    --muted: 240 5% 18%;
    --muted-foreground: 240 5% 70%;

    --accent: 12 100% 58%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5% 26%;
    --input: 240 5% 20%;
    --ring: 265 83% 74%;
    
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .meme-text {
    -webkit-text-stroke: 2px black;
    text-stroke: 2px black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
  }
}
